{% extends "base.html" %} {% block content %}

<!-- login card -->
<div class="loginCard">
    <h2>Log in</h2>
    <form id="loginForm">
        <div class="formField">
            <label for="email">Email</label>
            <br>
            <input type="email" name="email" id="loginEmail" required>
        </div>
        <br>
        <div class="formField">
            <label for="pw">Password</label>
            <br>
            <input type="password" name="pw" id="loginPw" required>
        </div>
        <br>
        <div class="formField">
            <input type="submit" value="Login">
        </div>
    </form>
    <br>
    <div class="gotoSignup">Don't have an account? <a href="javascript:void(0)">Sign up</a></div>
</div>
<!-- sign up card -->
<div class="signupCard">
    <h2>Sign up</h2>
    <form id="signupForm">
        <div class="formField">
            <label for="name">Name</label>
            <br>
            <input type="text" name="name" id="signupName" required>
        </div>
        <br>
        <div class="formField">
            <label for="email">Email</label>
            <br>
            <input type="email" name="email" id="signupEmail" required>
        </div>
        <br>
        <div class="formField">
            <label for="pw">Password</label>
            <br>
            <input type="password" name="pw" id="signupPw" required>
        </div>
        <br>
        <div class="formField">
            <input type="submit" value="Register">
        </div>
    </form>
    <br>
    <div class="gotoLogin">Already have an account? <a href="javascript:void(0)">Login</a></div>
</div>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-app.js"></script>
<script src="./assets/js/login.js"></script>
{% endblock %}